<h2>My list of restaurants</h2>
<%= link_to "Create new restaurant", new_restaurant_path %>
<% @restaurants.each do |restaurant| %>
<div class= "card">
<h3><%= restaurant.name %></h3>
<p><%= restaurant.category %></p>
<p><%= restaurant.address %></p>
<p><%= restaurant.phone_number %> </p>
<%= link_to "See details", restaurant_path(restaurant), class: "btn btn-primary"%>
 </div>
<% end %>

