<h2><%= @restaurant.name %> </h2>

  <p><%= @restaurant.address %></p>
  <P><%= @restaurant.category %></P>
<%= link_to "Write a review", new_restaurant_review_path(@restaurant) %>
<%= link_to "Back to list", restaurants_path %>
